.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/tsconfig.json
**/.eslintrc.js
**/.github/**
.git/**
node_modules/**
.gitignore
.eslintignore
.eslintrc.js
.npmrc
webpack.config.js
**/*.ts
**/.DS_Store